
<div id="footer" class="sticky-footer">

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <img class="footer-logo" src="{{ asset('assets/images/logo.png') }}" alt="" />
                <br><br>
                <p>
                    Projekt, jehož cílem je umožnit vyhledávání a vizualizaci organizací, které pomáhají zvířatům v nouzi v ČR.
                </p>
                <p>
                    Veškerá data podléhají svobodné licenci
                    <a href="https://creativecommons.org/licenses/by/4.0/deed.cs" target="_blank">Creative Commons 4.0</a>
                    a může je využívat kdokoli i pro komerční účely (uvede-li zdroj).
                </p>
            </div>

            <div class="col-md-4 col-sm-6">
                <h4>Rychlé odkazy</h4>

                <ul class="footer-links">
                    <li><a href="#">Útulky v Praze</a></li>
                    <li><a href="#">Útulky v Brně</a></li>
                    <li><a href="#">Útulky v Plzni</a></li>
                    <li><a href="#">Útulky v Ostravě</a></li>
                </ul>
                <ul class="footer-links">
                    <li><a href="#">Útulky pro kočky</a></li>
                    <li><a href="#">Útulky pro psy</a></li>
                    <li><a href="#">Útulky pro koně</a></li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="col-md-3 col-sm-12">
                <h4>Kdo jsme</h4>
                <div class="text-widget">
                    <span>
                        Mapa vznikla ve spolupráci spolků
                        <a href="https://www.facebook.com/fouskyzs" target="_blank" title="Facebook profil spolku Fousky z.s.">Fousky z.s.</a>
                        a <a href="https://www.facebook.com/utulkov" target="_blank" title="Facebook profil spolku Útulkov z.s.">Útulkov z.s.</a>,
                        více informací <a href="{{ path('_app_info_about') }}" title="O projektu MapaUtulku.cz">zde</a>.
                    </span>
                </div>
                <div class="text-widget margin-top-20">
                    Chcete-li se zapojit, <a href="{{ path('_app_info_contact') }}" title="Napište nám">napište nám</a>.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="copyrights">
                    Otevřený <a href="https://github.com/fousky/mapautulku.cz" target="_blank" title="Zdrojové kódy na GitHub.com">zdrojový kód</a>.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="backtotop"><a href="#"></a></div>
