{% extends 'frontend/base.html.twig' %}

{% block body %}

    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2><i class="sl sl-icon-plus"></i> Přidání organizace</h2>

                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{{ path('_app_homepage') }}">Domů</a></li>
                            <li><a href="{{ path('_app_organizations_list') }}">Seznam útulků</a></li>
                            <li><a href="{{ path('_app_organization_add') }}">Přidání organizace</a></li>
                            <li>Hotovo</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container margin-bottom-50">
        <div class="row">
            <div class="col-md-12">
                <div class="notification large success">
                    <h1>Děkujeme!</h1>
                    <p>
                        Vážíme si Vaší pomoci, lidé se brzy o této organizaci dozví a to jen díky Vám!
                    </p>
                    <p>
                        Nyní musíme veškeré údaje zkontrolovat a zjistit přesné GPS souřadnice organizace.
                        Někdy nám to může trvat, protože nejsme u PC každý den.
                    </p>
                </div>

                <a href="{{ path('_app_organization_add') }}" class="button preview">
                    Přidat další &rarr;
                </a>
            </div>
        </div>
    </div>

{% endblock %}
