{% extends 'base.html.twig' %}

{% block body %}

    <section class="my-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="jumbotron">
                        <h1>Přidání útulku</h1>
                        <p>
                            Děkujeme, že nám pomáháte, ceníme si vaší pomoci.
                        </p>
                        <p>
                            Než se rozhodnete přidat organizaci prosím zkontrolujte, zda již tuto
                            organizaci v databázi neevidujeme.
                        </p>
                    </div>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
