{% extends 'base.html.twig' %}

{% block body %}

    <section class="my-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Seznam útulků{% if category %} {{ category.nameInAkuzativ }}{% endif %}</h1>

                    {% if paginator.count > 0 %}
                        <ul>
                            {% for org in paginator.iterator %}
                                {# @var org \App\Entity\Organization\Organization #}
                                <li>{{ org.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-danger">
                            <h2>Je nám líto, ale nejsou zde žádné organizace.</h2>
                            <a href="{{ path('_app_organization_add') }}">Přidat útulek &rarr;</a>
                        </div>
                    {% endif %}

                    {% if paginator.haveToPaginate %}
                        <div class="pagerfanta">
                            {{ pagerfanta(paginator, 'twitter_bootstrap4') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
